<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul class="horizontal-list">
        <li><%= link_to "Home", articles_path %></li>

        <% if current_user %>
          <li>Logged in as <u><%= current_user.email %></u></li>
          <li><%= link_to "Log out", logout_path, data: {turbo_method: :delete} %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </nav>

    <section class="main-flash-box">
        <% flash.each do |key, message| %>
          <div class="flash <%= key %>"><%= message %></div>
        <% end %>
    </section>

    <%= yield %>
  </body>
</html>
